<div class="animated fadeIn">
    <h1>Bienvenue {{user.username}}</h1>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="social-box box-mails">
            <i class="fa fa-envelope-open"></i>
            <div class="chart-wrapper">
                <iframe class="chartjs-hidden-iframe" tabindex="-1"
                        style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas basechart="" class="chart" height="112" width="362"
                        style="display: block; width: 290px; height: 90px;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="social-box box-job-hunt">
            <i class="fa fa-eye"></i>
            <ul>
                <li>
                    <strong>1</strong>
                    <span>tableau en cours</span>
                </li>
                <li>
                    <strong>3</strong>
                    <span>candidatures en attente</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="social-box box-calendar">
            <i class="fa fa-calendar"></i>
            <ul>
                <li>
                    <strong>5</strong>
                    <span>rendez-vous</span>
                </li>
                <li>
                    <strong>2</strong>
                    <span>entretiens</span>
                </li>
            </ul>
        </div>
    </div>
</div>
