<div class="row">
    <div class="col-md-3">
        <app-profile-menu></app-profile-menu>
    </div>
    <div class="col-md-9">
        <form name="form" role="form" (submit)="updatePassword(oldPassword, newPassword1, newPassword2, $event)">
            <div class="card">
                <div class="card-header">
                    <span>Mot de passe</span>
                </div>
                <div class="card-block">
                    <div class="form-group required">
                        <label for="oldPassword">Ancien mot de passe</label>
                        <input type="password" #oldPassword class="form-control" name="oldPassword" id="oldPassword"
                               required>
                    </div>
                    <div class="form-group required">
                        <label for="newPassword1">Nouveau mot de passe</label>
                        <input type="password" #newPassword1 class="form-control" name="newPassword1" id="newPassword1"
                               required>
                    </div>
                    <div class="form-group required">
                        <label for="newPassword2">Répétez le nouveau mot de passe</label>
                        <input type="password" #newPassword2 class="form-control" name="newPassword2" id="newPassword2"
                               required>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary pull-right">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>
