<div class="row">
    <div class="col-md-3">
        <app-profile-menu></app-profile-menu>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <span>Informations personnelles</span>
            </div>
            <div *ngIf="profile != null" class="card-block">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img class="profile-picture" *ngIf="!profile.photoUrl && !tempPhoto" alt="default picture"
                                 src="assets/img/avatars/user-icon.jpg"/>
                            <img class="profile-picture" *ngIf="tempPhoto" alt="profile picture" [src]="tempPhoto"/>
                            <img class="profile-picture" *ngIf="profile.photoUrl && !tempPhoto" alt="profile picture"
                                 [src]="profile.photoUrl"/>
                            <span class="username">{{ profile.firstname }} {{ profile.lastname }}</span>
                            <br>
                            <div class="file-upload btn btn-primary" *ngIf="!tempPhoto">
                                <span>Changer l'image</span>
                                <input class="upload" type="file" accept="image/*"
                                       (change)="uploadPhotoListener($event)">
                            </div>
                            <button class="btn btn-success" *ngIf="tempPhoto" (click)="sendPhotoProfile()">Valider
                                l'image
                            </button>
                            <button class="btn btn-default" *ngIf="profile.photoUrl || tempPhoto"
                                    (click)="deleteImage()">Supprimer l'image
                            </button>
                            <br><br>
                            Taille : 50x50 min / 400x400 max
                            <br>
                            Poids : 2 Mio max
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form id="infos-perso">
                            <div class="form-group required">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" id="username" name="username" class="form-control"
                                       [(ngModel)]="profile.username" required>
                            </div>
                            <div class="form-group required">
                                <label for="lastname">Nom</label>
                                <input type="text" id="lastname" name="lastname" class="form-control"
                                       [(ngModel)]="profile.lastname" required>
                            </div>
                            <div class="form-group required">
                                <label for="firstname">Prénom</label>
                                <input type="text" id="firstname" name="firstname" class="form-control"
                                       [(ngModel)]="profile.firstname" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
